.about {
    width: 100%;
    max-width: 100%;
    margin-top: 80px;
    color: #000;
    padding: 20px;
    .container {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title-discretion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 30px;
            font-family: $second_font;
            font-weight: 300;
            letter-spacing: .2rem;
            margin-bottom: 30px;
            & {
                @include break_point(xsmobil) {
                    text-align: center;
                }
                @include break_point(mobil) {
                    text-align: center;
                }
                @include break_point(medium) {
                    text-align: center;
                }
            }
            span {
                font-weight: 900;
            }
        }
        p {
            font-size: 14px;
            color: $p_gary_color;
            line-height: 1.6;
            word-spacing: 1px;
            margin: 0;
            font-family: $main-font;
            text-align: center;
        }
    }
    .our-mission-skills {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        & {
            @include break_point(mobil) {
                flex-direction: column;
                height: auto;
            }
            @include break_point(xsmobil) {
                flex-direction: column;
                height: auto;
            }
            @include break_point(medium) {
                flex-direction: column;
                height: auto;
            }
        }
        h2 {
            width: 30px;
            font-size: 37px;
            font-weight: 200;
            text-transform: capitalize;
            letter-spacing: .2rem;
            font-family: $second_font;
            border-left: 1px solid #eee;
            padding-left: 10px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: -1px;
                background-color: #f00;
                width: 1px;
                height: 50%;
            }
            span {
                font-weight: 700;
            }
        }
        p {
            margin-top: 20px;
            font-size: 18px;
            color: $p_gary_color;
            & {
                @include break_point(xsmobil) {
                    text-align: center;
                    margin-top: 20px;
                }
                @include break_point(mobil) {
                    text-align: center;
                    margin-top: 20px;
                }
                @include break_point(medium) {
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
        .video {
            display: flex;
            position: relative;
            a {
                width: 60px;
                height: 60px;
                background-color: $main_red;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    fill: #ffff;
                }
            }
            span {
                margin-left: 10px;
                position: absolute;
                top: 20px;
                left: 60px
            }
        }
    }
    .skills {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 16px;
        & {
            @include break_point(xsmobil) {
                width: 100%;
                margin-bottom: 60px;
            }
            @include break_point(mobil) {
                width: 100%;
                margin-bottom: 60px;
            }
            @include break_point(medium) {
                width: 100%;
                margin-bottom: 60px;
            }
        }
        .skill-item {
            width: 100%;
            p {
                color: $p_gary_color;
                font-size: 15px;
                text-transform: capitalize;
            }
            .progress {
                width: 100%;
                height: 2px;
                background-color: #eee;
                span {
                    display: flex;
                    width: 0;
                    height: 100%;
                    background-color: $main_red;
                    position: relative;
                    transition: all 1s ease;
                    &::after {
                        content: attr(data-progress);
                        width: 20px;
                        color: $p_gary_color;
                        position: absolute;
                        top: -20px;
                        right: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .items_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        padding: 30px;
        background-color: #eee;
        height: 400px;
        & {
            @include break_point(xsmobil) {
                flex-direction: column;
                height: auto;
                padding: 11px 5px 13px 24px;
            }
            @include break_point(mobil) {
                flex-direction: column;
                height: auto;
                padding: 11px 5px 13px 24px;
            }
            @include break_point(medium) {
                flex-direction: column;
                height: auto;
                padding: 11px 5px 13px 24px;
            }
        }
        .container {
            flex-direction: row;
            & {
                @include break_point(xsmobil) {
                    flex-direction: column;
                    height: auto;
                    padding: 0;
                }
                @include break_point(mobil) {
                    flex-direction: column;
                    height: auto;
                    padding: 0;
                }
                @include break_point(medium) {
                    flex-direction: column;
                    height: auto;
                    padding: 0;
                }
            }
        }
        .item {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 250px;
            padding: 20px;
            margin-right: 20px;
            & {
                @include break_point(xsmobil) {
                    margin-bottom: 30px;
                    max-height: 100%;
                    height: auto;
                    width: 100%;
                    max-width: 100%;
                }
                @include break_point(mobil) {
                    margin-bottom: 30px;
                    width: 100%;
                    max-width: 100%;
                }
                @include break_point(medium) {
                    margin-bottom: 30px;
                    width: 100%;
                    max-width: 100%;
                }
            }
            svg {
                color: $main_red;
                font-size: 40px;
                margin-bottom: 30px;
                display: flex;
            }
            h2 {
                color: #000;
                font-family: $main-font;
                font-size: 20px;
                margin-bottom: 10px;
            }
            p {
                color: $p_gary_color;
                font-size: 18px;
                margin-bottom: 10px;
                width: 90%;
                text-align: center;
            }
        }
    }
    .content-image {
        width: 100%;
        height: 400px;
        background-image: url("././../images/about/1.jpg");
        background-attachment: fixed;
        .over-lay {
            background-color: #020202c2;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                font-size: 20px;
                font-family: $main-font;
                font-style: italic;
                width: 70%;
                text-align: center;
                margin-bottom: 5px;
                color: #ddd;
                svg {
                    font-size: 40px;
                    padding: 0px 10px;
                }
            }
            h4 {
                color: #F24259;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                margin: 15px 0 10px;
            }
            h6 {
                color: #fff;
                font-family: $main-font;
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
}